@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.headerimgHolder {
  position: absolute;
  width: 111px;
  height: 74px;
  left: 0; /* no unit */
  top: 0; /* no unit */
}

.ic_menu {
  position: absolute;
  width: 20px;
  height: 14px;
  top: 19px;
}

.ic_menu > button {
  background-color: white;
  border: none;
  margin-left: 280px;
}

.flex-container {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
}

.title_name {
  position: absolute;
  width: 220px;
  height: 100px;
  left: 16px;
  top: 104px;
  margin-top: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2em;
  line-height: 100%;
  color: #1a2236;
}

.about_description {
  position: absolute;
  height: 126px;
  left: 16px;
  width: 280px;
  margin-right: 25px;
  top: 224px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

section > a {
  align-content: center;
}

.start-collaboration {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  width: 288px;
  height: 50px;
  left: 16px;
  top: 390px;
  background: #1a2236;
}

.start-collaboration:hover {
  background-color: rgb(235, 233, 232);
  color: #1a2236;
}

.image-container {
  display: flex;
  align-content: space-around;
}

#image_geometry_2-1 {
  background-image: url("assets/image_geometry_2-1.png");
  position: absolute;
  width: 320px;
  height: 160px;
  top: 472px;
}

.grid-project-image5 {
  background-image: url("assets/Rectangle21-5.png");
  background-repeat: no-repeat;
  height: 180px;
  width: 320px;
}

.grid-project-image1 {
  background-image: url("assets/Rectangle-21.png");
  background-repeat: no-repeat;
  height: 180px;
}

.grid-project-image2 {
  background-image: url("assets/Rectangle-21-2.png");
  background-repeat: no-repeat;
  height: 180px;
  width: 320px;
}

.grid-project-image3 {
  background-image: url("assets/Rectangle21-3.png");
  background-repeat: no-repeat;
  height: 180px;
  width: 320px;
}

.grid-project-image4 {
  background-image: url("assets/Rectangle21-4.png");
  background-repeat: no-repeat;
  height: 180px;
  width: 320px;
}

.text_colo {
  position: absolute;
  width: 203.68px;
  height: 26.47px;
  left: 58px;
  top: 402px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.image_geometry_1 {
  position: absolute;
  width: 320px;
  height: 160px;
  left: 0; /* no unit */
  top: 472px;
}

.project_container {
  position: absolute;
  height: 2134px;
  left: 0; /* no unit */
  top: 672px;
}

.section_title_holder {
  position: absolute;
  width: 181px;
  height: 50px;
  left: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.section_title_holder-about {
  margin-top: 500px;
}

.section_title_holder > h3 {
  font-weight: 100;
  margin-top: 0;
}

.Rectangle_image {
  position: absolute;
  height: 2052px;
  left: 0; /* no unit */
  top: 754px;
}

.project-grid {
  display: grid;
  grid-template-columns: auto;
}

.grid-item1 {
  margin-top: 80px;
}

.grid-item {
  padding-bottom: 0;
  margin-top: 155px;
}

.project-details {
  position: absolute;
  width: 100%;
  height: 156px;
  left: 0;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
}

.project-details > h5 {
  position: absolute;
  width: 264px;
  left: 6%;
  margin-top: 15px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  margin-bottom: 0;
  color: #fff;
}

.technology-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 10px;
  margin-top: 0;
}

.technology-grid-item {
  height: 20px;
  background: #98dede;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 45px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 10.3334px;
  line-height: 0%;
  font-weight: 400;
}

.technology-grid-item > p {
  text-align: center;
}

.see-project-button {
  width: 178px;
  height: 44px;
  left: 20px;
  border: 1px solid #fff;
  background: #1a2236;
  color: azure;
  margin-top: 25px;
  margin-left: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
}

.see-project-button:hover {
  background-color: #fff;
  color: #1a2236;
}

.about-container {
  margin-top: 1980px;
}

.about-desc {
  position: absolute;
  width: 288px;
  height: 126px;
  left: 16px;
  top: 2550px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
}

.about-desc-button {
  width: 288px;
  height: 50px;
  left: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  background: #1a2236;
}

.about-desc-button:hover {
  background: #fff;
  color: #1a2236;
}

.skills-grid {
  display: grid;
  grid-template-columns: auto;
}

.language-grid-item {
  position: absolute;
  width: 289px;
  height: 289px;
  left: 16px;
  top: 2800px;
  background: #1c528a;
}

.framework-grid-item {
  position: absolute;
  width: 289px;
  height: 289px;
  left: 16px;
  top: 3110px;
  background: #e2505c;
}

.skill-grid-item {
  position: absolute;
  width: 289px;
  height: 289px;
  left: 16px;
  top: 3420px;
  background: #febf52;
  padding: 0%;
}

.language-grid-item > img {
  position: absolute;
  left: 185px;
  top: 185px;
}

.framework-grid-item > img {
  position: absolute;
  left: 192px;
  top: 192px;
}

.skill-grid-item > img {
  position: absolute;
  left: 185px;
  top: 185px;
  padding: 0%;
}

.about-skill-heading {
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  padding-left: 65px;
}

.skill-list {
  margin-left: 40px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}
